<a href="https://colab.research.google.com/github/sxm18940/ML_Assignment5/blob/main/ML_Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
# import the libraries 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn import preprocessing, metrics
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
sns.set(style="white", color_codes=True)
import warnings
warnings.filterwarnings("ignore")

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

In [57]:
#Question-1: Principal Component Analysis
from google.colab import drive
drive.mount('/content/gdrive')
dataframe = pd.read_csv("gdrive/My Drive/C/CC.csv")
dataframe.info()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [58]:
dataframe.describe()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

In [59]:
dataframe[:]

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
8946,C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,NaN,0.000000,6
8947,C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
8948,C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
8949,C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [60]:
dataframe.isna().sum()

CUST_ID                               0
BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [61]:
dataframe['MINIMUM_PAYMENTS'].fillna(dataframe['MINIMUM_PAYMENTS'].mean(), inplace=True)
dataframe.dropna(axis=1,inplace=True)

In [62]:
x = dataframe.iloc[:,1:-1]
y = dataframe.iloc[:,-1]
print(x.shape,y.shape)

(8950, 15) (8950,)

In [63]:
nclusters = 3
km = KMeans(nclusters)
km.fit(x)
print(km)
# predict the cluster for each data point
y_cluster_kmeans = km.predict(x)
score = metrics.silhouette_score(x, y_cluster_kmeans)
print(score)

KMeans(n_clusters=3)
0.5502198979956996

In [64]:
dataframe.drop(['CUST_ID'], axis=1, inplace=True)

In [65]:
#A Apply PCA on CC dataset.
pca = PCA(2)
x_pca = pca.fit_transform(dataframe)
df2 = pd.DataFrame(data=x_pca)

In [66]:
# B Apply k-means algorithm on the PCA result and report your observation if the silhouette score has improved or not?
nclusters = 3
km = KMeans(n_clusters=nclusters)
km.fit(df2)
print(km)
# predict the cluster for each data point
y_cluster_kmeans = km.predict(df2)
score = metrics.silhouette_score(df2, y_cluster_kmeans)
print(score)

KMeans(n_clusters=3)
0.6038434497201096

In [67]:
scaler = StandardScaler()
scaled_df = scaler.fit_transform(df2)

In [68]:
### C Perform Scaling+PCA+K-Means and report performance
nclusters = 3
km = KMeans(n_clusters=nclusters)
km.fit(scaled_df)
print(km)
# predict the cluster for each data point
y_cluster_kmeans = km.predict(scaled_df)
score = metrics.silhouette_score(scaled_df, y_cluster_kmeans)
print(score)

KMeans(n_clusters=3)
0.6339379378657516

Report:

KMeans Silhouette Score= 0.55

KMeans + PCA(k=2) Silhouette Score = 0.60

KMeans + PCA(k=2) + feature scaling Silhouette Score = 0.63 

This means the silhouette score is improved when applying k-means on PCA

In [69]:
#Question-2: Use pd_speech_features.csv

dataframe_pd = pd.read_csv("gdrive/My Drive/P/pd_speech_features.csv")
dataframe_pd.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [70]:
dataframe_pd.isnull().any()

id                           False
gender                       False
PPE                          False
DFA                          False
RPDE                         False
                             ...
tqwt_kurtosisValue_dec_33    False
tqwt_kurtosisValue_dec_34    False
tqwt_kurtosisValue_dec_35    False
tqwt_kurtosisValue_dec_36    False
class                        False
Length: 755, dtype: bool

In [71]:
X = dataframe_pd.drop('class',axis=1).values
Y = dataframe_pd['class'].values

In [72]:
# a. Perform Scaling
#Scaling Data
scaler = StandardScaler()
X_Scale = scaler.fit_transform(X)

In [73]:
# b. Apply PCA (k=3)
# Apply PCA with k =3
pca3 = PCA(n_components=3)
principalComponents = pca3.fit_transform(X_Scale)
principalDataframe = pd.DataFrame(data = principalComponents, columns = ['principal_component1', 'principal_component2','Principal_Component3'])
finalDataframe = pd.concat([principalDataframe, dataframe_pd[['class']]], axis = 1)
finalDataframe.head()

   principal_component1  principal_component2  Principal_Component3  class
0            -10.047372              1.471076             -6.846403      1
1            -10.637725              1.583748             -6.830976      1
2            -13.516185             -1.253543             -6.818697      1
3             -9.155084              8.833598             15.290900      1
4             -6.764470              4.611465             15.637116      1

In [74]:
X = finalDataframe.drop('class',axis=1).values
Y = finalDataframe['class'].values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state=0)

In [75]:
# c. Use SVM to report performance
from sklearn.svm import SVC
SVMClassifier = SVC()
SVMClassifier.fit(X_train, Y_train)
y_pred = SVMClassifier.predict(X_test)
# predictions by the classifier
print(classification_report(Y_test, y_pred, zero_division=1))
print(confusion_matrix(Y_test, y_pred))
# Accuracy score
glass_acc_svc = accuracy_score(y_pred,Y_test)
print('Accuracy is',glass_acc_svc)
#silhouette Score Calculation
score = metrics.silhouette_score(X_test, y_pred)
print("Silhouette Score is: ",score)

              precision    recall  f1-score   support

           0       0.67      0.42      0.52        57
           1       0.83      0.93      0.88       170

    accuracy                           0.80       227
   macro avg       0.75      0.68      0.70       227
weighted avg       0.79      0.80      0.79       227

[[ 24  33]
 [ 12 158]]
Accuracy is 0.801762114537445
Silhouette Score is:  0.254320887691344

In [76]:
#Question-3: Apply Linear Discriminant Analysis (LDA) on Iris.csv dataset to reduce dimensionality of data to k=2. 
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
df_iris = pd.read_csv("gdrive/My Drive/Iris/Iris.csv")

In [77]:
df_iris.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [78]:
x = df_iris.iloc[:,1:-1]
y = df_iris.iloc[:,-1]
print(x.shape,y.shape)

(150, 4) (150,)

In [79]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [92]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
LEC = LabelEncoder()
y = LEC.fit_transform(y)

In [88]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda = LDA(n_components=2)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)
print(X_train.shape,X_test.shape)

(105, 2) (45, 2)

In [89]:
classifier = RandomForestClassifier(max_depth=2, random_state=0)
classifier.fit(X_train, y_train)
classifier.score(X_train, y_train)

0.9809523809523809

In [90]:
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
print()
print('Accuracy is ' + str(accuracy_score(y_test, y_pred)))

[[16  0  0]
 [ 0 17  1]
 [ 0  0 11]]

Accuracy is 0.9777777777777777

#Question-4: Briefly identify the difference between PCA and LDA 
Principal Component Analysis (PCA) and Linear Discriminant Analysis (LDA) are two of the most popular dimensionality reduction techniques. 
Both methods are used to reduce the number of features in the dataset while retaining as much information as possible.
PCA: Principal Component Analysis (PCA) works by identifying the direction (component) that maximizes the variance of a data set. 
That is, it tries to find a linear combination of features that captures as much variance as possible. 
The first component captures the maximum variance, the second component is orthogonal to the first and captures the remaining variance. 
PCA is a useful technique for dimensionality reduction when there is a linear relationship between features in the data
LDA: Linear Discriminant Analysis (LDA) is another linear transformation technique used for dimensionality reduction. 
However, unlike PCA, LDA is a method of supervised learning. That is, class labels are taken into account when finding the direction of maximum variance. 
This makes LDA particularly suitable for classification tasks where we want to maximize class separability.
PCA is an unsupervised learning algorithm and LDA is a supervised learning algorithm. 
This means that PCA finds the direction of maximum variance, independent of class labels, and LDA finds the direction of maximum class separability.
In general, for classification purposes, LDA should be used.
If your goal is just to find patterns in the data (not classify) then PCA might work better.
If noise dominates the data set, LDA may give better results even if the goal is not classification. 
Because LDA makes stronger assumptions about the structure of the data, it often performs better than PCA when the dataset fits those assumptions, but performs worse when it doesn't.